{
    debug
    auto_https off
    
    order webdav before file_server

    log {
        output stdout
        format json
    }
}

:80 {
    root * /app

    header Remote-User-Debug "{http.request.header.Remote-User}"

    route /config/* {
        header Cache-Control "no-store, no-cache, must-revalidate"

        @user_config {
            path /config/services.json
            header Remote-User ?*
        }
        rewrite @user_config /config/services.{http.request.header.Remote-User}.json

        @user_backup {
            path_regexp backup ^/config/services\.backup-(.+)\.json$
            header Remote-User ?*
        }
        rewrite @user_backup /config/services.{http.request.header.Remote-User}.backup-{re.backup.1}.json

        @forbidden_methods {
            method DELETE PROPFIND PROPPATCH MKCOL COPY MOVE LOCK UNLOCK
        }
        respond @forbidden_methods "Method Not Allowed" 405

        @is_put {
            method PUT
        }
        webdav @is_put {
            root /app
        }

        file_server
    }

    route {
        try_files {path} {path}/ /index.html
        file_server
    }
}
