{
    auto_https off

    order webdav before file_server

    log {
        output stdout
        format json
        level INFO
    }
}

:80 {
    root * /app

    route /config/* {
        header Cache-Control "no-store, no-cache, must-revalidate" defer

        #
        # user config
        #
        @user_config {
            path /config/services.json
            header Remote-User *
        }
        rewrite @user_config /config/services.{http.request.header.Remote-User}.json

        #
        # backups
        #
        @user_backup {
            path_regexp backup ^/config/services\.backup-(.+)\.json$
            header Remote-User *
        }
        rewrite @user_backup /config/services.{http.request.header.Remote-User}.backup-{re.backup.1}.json

        #
        # limit webdav to PUT only
        #
        @forbidden_methods {
            method DELETE PROPFIND PROPPATCH MKCOL COPY MOVE LOCK UNLOCK
        }
        respond @forbidden_methods "Method Not Allowed" 405

        @is_put {
            method PUT
        }
        webdav @is_put {
            root /app
        }

        file_server
    }

    #
    # static files + SPA Fallback
    #
    route {
        try_files {path} {path}/ /index.html
        file_server
    }
}
